@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    text-box-trim: trim-both;
    font-variant-numeric: tabular-nums;
  }

  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
  }
}
